<!DOCTYPE html>
<!--
██████╗██████╗ ███╗   ██╗ ██████╗ ████████╗██╗███████╗██╗   ██╗
██╔════╝██╔══██╗████╗  ██║██╔═══██╗╚══██╔══╝██║██╔════╝╚██╗ ██╔╝
██║     ██████╔╝██╔██╗ ██║██║   ██║   ██║   ██║█████╗   ╚████╔╝
██║     ██╔══██╗██║╚██╗██║██║   ██║   ██║   ██║██╔══╝    ╚██╔╝
╚██████╗██║  ██║██║ ╚████║╚██████╔╝   ██║   ██║██║        ██║
╚═════╝╚═╝  ╚═╝╚═╝  ╚═══╝ ╚═════╝    ╚═╝   ╚═╝╚═╝        ╚═╝

Created by DeadPackets <3

...and yes, it was necessary for me to leave my signature here. I do this with all my projects.
-->
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>CRNotify 2.0 - {{path}}</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles.css" />
</head>

<body>

  <div id="wrapper">
    {{{body}}}
    <div class="push"></div>
    <script defer src="https://use.fontawesome.com/releases/v5.0.3/js/all.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </div>

  <div class="footer">
    <div class="container text-center">
      <h6 class="footerText">Developed and designed by DeadPackets</h6>
    </div>
  </div>

</html>