<div id="main">
  <script src="https://authedmine.com/lib/simple-ui.min.js" async></script>
  <div class="coinhive-miner" style="width: 256px; height: 310px" data-key="JB00SPU8mSTXLfAUAWm91GWt4zkclRmV">
    <em>Loading...</em>
  </div>
</div>
