<div id="main" class="container">
  <div class="animated fadeInDown text-center">
    <h1 class="display-4 mainTitle">
      CRNotify
    </h1>
  </div>

  <div class="animated fadeInDown text-center">
    <h4 class="dashboardTitle">Thanks for offering help!</h4>
  </div>
</div>
