<div id="main" class="container">
  <div class="animated fadeInDown text-center">
    <h1 class="display-4 mainTitle">
      CRNotify
    </h1>
  </div>

  <div class="animated fadeInDown text-center">
    <h4 class="dashboardTitle">Thanks for offering help!</h4>
  </div>

  <p class="animated fadeIn mainParagraph text-center">If you want to support my website and help be add more features (and buy a footlong from subway) all you have to do is leave this tab open, and continue doing whatever else you want to do! You can pause, add threads (increase power) or decrease threads
    (decrease power) to your needs! Once again, thanks for supporting my website!</p>

  <script src="https://authedmine.com/lib/simple-ui.min.js" async></script>
  <center>
    <div class="coinhive-miner" style="height: 300px" data-key="JB00SPU8mSTXLfAUAWm91GWt4zkclRmV" data-autostart="true" data-whitelabel="true" data-throttle="0.2" data-threads="8">
      <em>Loading...</em>
    </div>
  </center>
  <h4 class="animated fadeIn mainParagraph text-center">
    Want to donate another way? Sure thing, I got your back:
  </h4>
  <p class="animated fadeIn donateText text-center">Paypal: <a href="https://paypal.me/DeadPackets" target="_blank">https://paypal.me/DeadPackets</a></p>
  <p class="animated fadeIn donateText text-center">Real Life: Catch me anywhere and buy me a sub....or some Takis :)</p>
  <p class="animated fadeIn donateText text-center">Bitcoin: <code>1H4Brazgb9LK2RS1xyn1ktiieZhH9mdey</code></p>
  <p class="animated fadeIn donateText text-center">Bitcoin Segwit: <code>bc1q33p6dy5au37wfl5cle4yltkfqyuf6yu03jvqze</code></p>
  <p class="animated fadeIn donateText text-center">Bitcoin Cash (BCH): <code>1DgrQ1Hvt9MNXHn7mWUnLPVYJPiKs85V45</code></p>
  <p class="animated fadeIn donateText text-center">Etherum (ETH): <code>0xa9e344fec0bc76243915Ef099f1cb936798DD3d9</code></p>
  <p class="animated fadeIn donateText text-center">Litecoin (LTC): <code>LY7jGqqPqgQdsJCYrU9Ju8NLD98PSXDtXj</code></p>
  <p class="animated fadeIn donateText text-center">Monero (XMR): <code>46mFkTWfXZ46YeprVE3R89TK4C6L3e72qNBg2bmPcWPaVZ9ua1zJY8DWbwaVe4vUMveKAzAiA4j8xgUi29TpKXpm42Q2TgC</code></p>

</div>
