<div id="main">
  <div class="animated fadeInDown">
    <h1 class="mainTitle">
      Error 400
    </h1>
  </div>
  <p class="animated fadeIn logoutParagraph">Error 400. In short, you did something wrong. If you did this on purpose, can you please not try to break my website? I'd appreciate it. Thx.</p>
  <p class="animated fadeIn logoutParagraph">If its an accident, just contact me at <a href="mailto:b00073615@aus.edu">b00073615@aus.edu</a></p>
</div>
