<div id="main">
  <div class="animated fadeInDown">
    <h1 class="mainTitle">
      Error 404
    </h1>
  </div>
  <p class="animated fadeIn logoutParagraph">Sorry, I couldn't find <code>{{{url}}}</code> on this server. Just like how I couldn't find any A grades on my report card this semester...... Check your spelling?</p>
  <p class="animated fadeIn logoutParagraph">If this continues, just contact me at <a href="mailto:b00073615@aus.edu">b00073615@aus.edu</a></p>
</div>
