<div id="main" class="container">
  <div class="text-center">
    <h1 class="display-4 mainTitle">
      CRNotify
    </h1>
  </div>

  <h4>So, What is this?</h4>
  <p class="faqParagraph">
    I'm glad you asked! This is CRNotify (duh), a website made by me , DeadPackets, that allows AUS students to get email notifications when the CRNs they want open or close.
  </p>
  <hr />

  <h4>Cool...., so does this actually work?</h4>
  <p class="faqParagraph">
    Yes, or else I wouldn't release it, now would I?
  </p>
  <hr />

  <h4>Now, HOW does this work?</h4>
  <p class="faqParagraph">
    Long story short, I keep visiting the AUS banner website and checking for the status of your CRNs. If I notice a change, I send you an email. Easy. (It took me 2 weeks to get this code working IT WAS NOT EASY AS IT SOUNDS)
  </p>
  <hr />

  <h4>How can I trust you with my data?</h4>
  <p class="faqParagraph">
    I promise that nothing sensitive is contained, and that all login information is handled by Google itself. Dont believe me? Well, this website and the code running on the servers is <b>Open Source</b>, meaning anyone can read, edit, and even contribute to this website by suggesting that I add their features to the main thing. Want to see the code? Sure! Its <a href="https://github.com/DeadPackets/CRNotify" target="_blank">here.</a>
  </p>
  <hr />

  <h4>Will I get in trouble for using this?</h4>
  <p class="faqParagraph">
    I don't think so, look at FlashCRN. That tool has been abused for years and I dont see the police arresting people in the library. Do you? Worst case scenario, AUS will ask me to shutdown this service.
  </p>
  <hr />

  <h4>Why did you build this?</h4>
  <p class="faqParagraph">
    I really wanted some courses, but on the day of registration, EVERY. SINGLE. COURSE. I. WANTED. WAS. CLOSED. INSTANTLY. THANKS. TO. FLASH. CRN. And over the course of the day, I would randomly get messages from panicked students screaming "OMG (insert CRN here) was open for a second but I didnt know and I missed the chance!". So I built this. Also because I have no life.
  </p>
  <hr />

  <h4>How do I use this?</h4>
  <p class="faqParagraph">
    Easy, log in using your AUS email or whatever gmail account you want, and just head on to the Manage tab, and add the CRNs you want CRNotify to track down for you! Although you will have to tell me the current status of the CRN, tho. (Sorry, its a technical limitation.)
  </p>
  <hr />

  <h4>Will you maintain this project and add more features?</h4>
  <p class="faqParagraph">
    Sure! As I said, the project is Open Source, so if any programmers out here know NodeJS or JavaScript, or want to improve the website's design, can go ahead and Ill add their changes to this website. Even if nobody contributes, I will still continue to work on features and improve performance. Especially if I get some <a href="/donate">donations (*wink wink, nudge nudge*)</a> (You can donate by just leaving a tab open!)
  </p>
  <hr />

  <h4>Why does the website crash sometimes?</h4>
  <p class="faqParagraph">
    Its a long technical explanation, but due to the <u>very nice people who developed banner</u>, I have to emulate 2 full chrome browsers on a poor 1 GB RAM server. Continously. This can cause some problems. Also, due to errors in my code, the entire website may crash at times. Just send me an email if it does, and I'll be trying my best to fix it. (or work around it)
  </p>
  <hr />

  <h4>Why did I not get an email when a CRN I added was open for 0.31 milliseconds?</h4>
  <p class="faqParagraph">
    Ignore the exaggeration in the question, but my website can't check EVERYONE's CRNs at the speed of light. It can take about 20 seconds to 5 minutes before your CRN is scanned again (its a constant loop, so basically 1 check per 5 minutes, 1 check per 20 seconds, etc) so please just be happy it works. :)
  </p>
  <hr />

  <h4>I'm a programmer. Can you give me technical specifics about this website?</h4>
  <p class="faqParagraph">
    This website is built using NodeJS and ExpressJS (as the webserver) and is using PhantomJS to crawl Banner. It also has MySQL as its database. Good enough for you? <a href="https://github.com/DeadPackets/CRNotify" target="_blank">Go look at the code for more info</a> (and prepare to see the ugliest code you have ever laid eyes upon. Dad if you are reading this, Im am so sorry for writing such horrible code I will never write code again).
  </p>
  <hr />

</div>
