<div id="main">
  <div class="animated fadeInDown">
    <h1 class="mainTitle">
      CRNotify
    </h1>
  </div>

  {{{errorMessages error_messages}}}
  {{{successMessages success_messages}}}
  <p class="animated fadeIn mainParagraph">This is a website built for AUS students to recieve notifications on any changes in the availability of their chosen CRNs. Use this to make sure you know when that class you really want opens up, and when a class you are in closes. <br /><br />To begin, sign in with Google.</p>
  <a href="/auth" class="animated fadeInUp">
    <img style="height: 70px;" src="http://www.setyourowntests.com/_/rsrc/1468869481521/help/accounts/btn_google_signin_dark_normal_web%402x.png" />
  </a>
</div>
