<div id="main">
  <div class="animated fadeInDown">
    <h1 class="mainTitle">
      CRNotify
    </h1>
  </div>
  <p class="animated fadeIn logoutParagraph">You have been logged out successfully.</p>
</div>
