<div id="main" class="align-middle text-center container">
  <div class="text-center">
    <h1 class="mainTitle">
      CRNotify
    </h1>
  </div>
  <p class="mainParagraph">You have been logged out successfully.</p>
</div>
