<div id="app" class="container">

  <div class="animated fadeInDown text-center">
    <h1 class="mainTitle">
      CRNotify
    </h1>
  </div>

  <div class="animated fadeInDown text-center">
    <h3 class="dashboardTitle">Welcome, {{{user.name}}}</h3>
  </div>

  {{{errorMessages error_messages}}} {{{successMessages success_messages}}}
  <center>
    <small class="donateMessage text-center">Enjoying CRNotify? How about you support me and the project by <a href="/donate" target="_blank">donating? (You can even donate by simply clicking the link!)</a></small>
  </center>

  <div style="padding-top: 20px;">
    <ul class="nav nav-tabs justify-content-center">
      <li class="nav-item">
        <a class="nav-link" href="/app/dashboard">
        <span class="icon is-small"><i class="fa fa-info-circle"></i></span>
        <span>Info</span>
      </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">
        <span class="icon is-small"><i class="fa fa-sliders"></i></span>
        <span>Manage</span>
      </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/app/settings">
        <span class="icon is-small"><i class="fa fa-cogs"></i></span>
        <span>Settings</span>
      </a>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/app/logout">
        <span id="logout" class="icon is-small"><i class="fa fa-sign-out"></i></span>
        <span id="logout">Log Out</span>
      </a>
      </li>
    </ul>
  </div>

  <div class="animated fadeInDown container w-100" style="padding-top: 20px;">

    <h1 style="font-size: 32px; padding-bottom: 20px;">Want to add a new CRN?</h1>
    <form action="/app/addcrn" method="post">
      <div class="form-group">
        <label for="crn">CRN</label>
        <input name="crn" type="text" class="form-control" id="crn"  placeholder="Enter CRN">
        <small id="emailHelp" class="form-text text-muted">Just insert the CRN here.</small>
      </div>
      <div class="form-group">
        <label for="crnState">Current State</label>
        <select name="currentStatus" id="inputState" class="form-control">
          <option>Open</option>
          <option>Closed</option>
        </select>
        <small id="crnStatusTrust" class="form-text text-muted">Please check before putting this, I'm trusting you.</small>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <hr />
    <h4>Your CRNs</h4>
    {{{crnList crnData}}}
  </div>
</div>
