<div id="app">

  <div class="animated fadeInDown text-center">
    <h1 class="mainTitle">
      CRNotify
    </h1>
  </div>

  <div class="animated fadeInDown text-center">
    <h3 class="dashboardTitle">Welcome, {{{user.name}}}</h3>
  </div>

  {{{errorMessages error_messages}}} {{{successMessages success_messages}}}
  <center>
    <small class="donateMessage text-center">Enjoying CRNotify? How about you support me and the project by <a href="/donate" target="_blank">donating? (You can even donate by simply clicking the link!)</a></small>
  </center>

  <div style="padding-top: 20px;">
    <ul class="nav nav-tabs justify-content-center">
      <li class="nav-item">
        <a class="nav-link" href="/app/dashboard">
        <span class="icon is-small"><i class="fa fa-info-circle"></i></span>
        <span>Info</span>
      </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/app/manage">
        <span class="icon is-small"><i class="fa fa-sliders"></i></span>
        <span>Manage</span>
      </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">
        <span class="icon is-small"><i class="fa fa-cogs"></i></span>
        <span>Settings</span>
      </a>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/app/logout">
        <span id="logout" class="icon is-small"><i class="fa fa-sign-out"></i></span>
        <span id="logout">Log Out</span>
      </a>
      </li>
    </ul>
  </div>

  <h2 class='text-center'>Soon.</h2>

</div>
