html, body {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
}

#wrapper {
  min-height: 100%;
  height: auto !important;
  margin: 0 auto -170px; /* the bottom margin is the negative value of the footer's height */
  padding-bottom: 30px;
}

@media (min-width: 576px) {
  .mainTitle {
    font-size: 2.5em;
  }
  .mainParagraph {
    font-size: 1em;
  }
  .dashboardTitle {
    font-size: 1.5em;
  }
  .alert {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .mainTitle {
    font-size: 5em;
  }
  .dashboardTitle {
    font-size: 1.5em;
  }
  .dashboardTitle {
    font-size: 2em;
  }
  .alert {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .mainTitle {
    font-size: 7.5em;
  }
  .mainParagraph {
    font-size: 1.5em;
  }
  .dashboardTitle {
    font-size: 3em;
  }
  .alert {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .mainTitle {
    font-size: 8em;
  }
  .mainParagraph {
    font-size: 1.5em;
  }
  .dashboardTitle {
    font-size: 3em;
  }
  .alert {
    width: 40%;
  }
}

.mainTitle {
  padding-top: 20px;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(30deg, #00C9FF, #92FE9D);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
}

dashboardTitle {
  font-size: 1em;
}

.mainParagraph {
  padding-top: 20px;
  padding-bottom: 30px;
  font-weight: 300;
}

.donateText {
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 300;
}

.donateMessage {
  padding-top: 10px;
  padding-bottom: 10px;
}

#logout {
  color: rgb(233, 44, 44);
}

.footer, .push {
  height: 170px;
  width: 100%;
}

.footer {
  padding-top: 20px;
  bottom: 0;
  background: #363636;
}

.footerText {
  color: #8f8f8f;
  padding-bottom: 10px;
}

.socialBadge {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #6b6b6b;
}
